<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449442043388-7j9079pbchrqdnuvq7ogkhi30q0aonvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449442043388-7j9079pbchrqdnuvq7ogkhi30q0aonvv</string>
	<key>API_KEY</key>
	<string>AIzaSyAFfEaXxnLaZu8wz_IdwkNvneiBE2KVapQ</string>
	<key>GCM_SENDER_ID</key>
	<string>449442043388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnarch</string>
	<key>PROJECT_ID</key>
	<string>rn-architecture-256ea</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-architecture-256ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449442043388:ios:ad585a1b381343214ace79</string>
</dict>
</plist>